workflows/loan-agent-flow-n8n.json
{
  "name": "Loan Decision Agent Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "loan-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "loan-decision-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields",
      "name": "Extract Input",
      "type": "n8n-nodes-base.editFields",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Credit Analyst agent in an autonomous loan decision workflow.\nYour job is to assess the creditworthiness of a specific customer using real-time data from Denodo.\n\n## Your Scope\nYou handle ONLY credit assessment. Do not assess payments, property, or make a final decision.\n\n## Your Task\nExtract the customer_id from the conversation (e.g. 20000), then run these steps:\n\nStep 1 - Call query_financial_customers with:\n  where_clause: \"customer_id\" = CUSTOMER_ID\n\nStep 2 - From the result, note the loan details. Then call query_financial_loans with:\n  where_clause: \"customer_id\" = CUSTOMER_ID\n\nStep 3 - From the loan result, note the loan_id. Then call query_financial_underwriting with:\n  where_clause: \"loan_id\" = LOAN_ID\n\nReplace CUSTOMER_ID and LOAN_ID with the actual values.\nNote: Always wrap column names in double quotes in where_clause (e.g. \"customer_id\" = 20000).\n\n## Credit Score Bands\n800+    -> Excellent\n740-799 -> Good\n670-739 -> Fair\n<670    -> Poor\n\n## Output Format\nEnd your turn with this exact block (all values from tool results only):\n\nCREDIT_ANALYSIS:\n  customer_id:        [value]\n  full_name:          [first_name last_name]\n  credit_score:       [value] ([band])\n  employment_history: [value]\n  financial_history:  [value]\n  loyalty_tier:       [loyalty_classification]\n  income_band:        [income_band]\n  risk_weighting:     [risk_weighting]\n  loan_amount:        [loan_amount]\n  interest_rate:      [interest_rate]\n  credit_verdict:     [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\n## Hard Rules\n- Never fabricate data. Every value must come from a tool result.\n- If data is missing, set credit_verdict to INSUFFICIENT_DATA and explain.\n- Temperature is 0."
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "tools": {
          "values": [
            {
              "toolType": "mcp",
              "mcpServer": {
                "serverUrl": "http://host.docker.internal:8080/verticals/mcp",
                "headers": {
                  "parameters": [
                    {
                      "name": "Authorization",
                      "value": "Basic YWRtaW46YWRtaW4="
                    },
                    {
                      "name": "Accept",
                      "value": "application/json, text/event-stream"
                    }
                  ]
                }
              },
              "mcpActions": "[\"denodo_verticals_query_financial_customers\",\"denodo_verticals_query_financial_loans\",\"denodo_verticals_query_financial_underwriting\"]"
            }
          ]
        }
      },
      "id": "credit-analyst",
      "name": "Credit Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.4,
      "position": [440, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Payment History Analyst agent in an autonomous loan decision workflow.\nYour job is to assess payment reliability and existing debt obligations using real-time data from Denodo.\n\n## Your Scope\nYou handle ONLY payment history and debt load. Do not repeat credit work.\n\n## Your Task\nThe customer_id is in the conversation context from the CREDIT_ANALYSIS block.\n\nStep 1 - Call query_financial_loans with:\n  where_clause: \"customer_id\" = CUSTOMER_ID\n\nStep 2 - From the result, note the loan_id(s). Then call query_financial_payments with:\n  where_clause: \"loan_id\" = LOAN_ID\n\nReplace CUSTOMER_ID and LOAN_ID with the actual values.\nNote: Always wrap column names in double quotes in where_clause (e.g. \"customer_id\" = 20000).\n\n## Assessment Rules\n0 missed/late payments   -> Reliable\n1-2 missed payments      -> Minor Concerns\n3+ missed payments       -> High Risk\nNo payment records found -> INSUFFICIENT_DATA\n\n## Output Format\nEnd your turn with this exact block:\n\nPAYMENT_ANALYSIS:\n  customer_id:          [value]\n  total_loans:          [count]\n  total_debt_exposure:  [sum of loan_amount]\n  active_loans:         [count with status active or approved]\n  missed_payments:      [count or UNKNOWN if no payment data]\n  payment_reliability:  [Reliable / Minor Concerns / High Risk / INSUFFICIENT_DATA]\n  dti_flag:             [LOW / MEDIUM / HIGH / UNKNOWN]\n  payment_verdict:      [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\n## Hard Rules\n- Never fabricate data. Every value must come from a tool result.\n- If payment data is unavailable, set payment_verdict to INSUFFICIENT_DATA.\n- Temperature is 0."
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "tools": {
          "values": [
            {
              "toolType": "mcp",
              "mcpServer": {
                "serverUrl": "http://host.docker.internal:8080/verticals/mcp",
                "headers": {
                  "parameters": [
                    {
                      "name": "Authorization",
                      "value": "Basic YWRtaW46YWRtaW4="
                    },
                    {
                      "name": "Accept",
                      "value": "application/json, text/event-stream"
                    }
                  ]
                }
              },
              "mcpActions": "[\"denodo_verticals_query_financial_loans\",\"denodo_verticals_query_financial_payments\"]"
            }
          ]
        }
      },
      "id": "payment-analyst",
      "name": "Payment History Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.4,
      "position": [660, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Property Analyst agent in an autonomous loan decision workflow.\nYour job is to assess collateral quality using property data from Denodo.\n\n## Your Scope\nYou handle ONLY property and collateral assessment. Do not repeat credit or payment work.\n\n## Your Task\nThe customer_id is in the conversation context from the CREDIT_ANALYSIS block.\n\nStep 1 - Call query_financial_loans with:\n  where_clause: \"customer_id\" = CUSTOMER_ID\n\nStep 2 - From the result, note the property_id. Then call query_financial_properties with:\n  where_clause: \"property_id\" = PROPERTY_ID\n\nReplace CUSTOMER_ID and PROPERTY_ID with the actual values.\nNote: Always wrap column names in double quotes in where_clause (e.g. \"customer_id\" = 20000).\n\nStep 3 - Calculate LTV: (loan_amount / property_value) * 100\n\n## LTV Risk Bands\n< 70%  -> LOW risk\n70-90% -> MEDIUM risk\n> 90%  -> HIGH risk\n\n## Output Format\nEnd your turn with this exact block:\n\nPROPERTY_ANALYSIS:\n  customer_id:       [value]\n  loan_amount:       [value]\n  property_value:    [value or UNKNOWN]\n  ltv_ratio:         [calculated % or UNKNOWN]\n  ltv_risk:          [LOW / MEDIUM / HIGH / UNKNOWN]\n  collateral_rating: [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n  property_verdict:  [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\n## Hard Rules\n- Never fabricate data. Every value must come from a tool result.\n- If property data is missing, set property_verdict to INSUFFICIENT_DATA.\n- Temperature is 0."
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "tools": {
          "values": [
            {
              "toolType": "mcp",
              "mcpServer": {
                "serverUrl": "http://host.docker.internal:8080/verticals/mcp",
                "headers": {
                  "parameters": [
                    {
                      "name": "Authorization",
                      "value": "Basic YWRtaW46YWRtaW4="
                    },
                    {
                      "name": "Accept",
                      "value": "application/json, text/event-stream"
                    }
                  ]
                }
              },
              "mcpActions": "[\"denodo_verticals_query_financial_loans\",\"denodo_verticals_query_financial_properties\"]"
            }
          ]
        }
      },
      "id": "property-analyst",
      "name": "Property Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.4,
      "position": [880, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the Risk Synthesizer - the final decision-maker in an autonomous loan decision workflow.\nYour job is to read the outputs of the three prior agents and produce a definitive Loan Decision Brief.\n\n## Your Scope\nYou synthesize. Do NOT re-query credit, payment, or property data.\nYour only tool call is to fetch the current rate.\n\n## Your Task\nStep 1 - Read the CREDIT_ANALYSIS, PAYMENT_ANALYSIS, and PROPERTY_ANALYSIS blocks from the conversation history.\n\nStep 2 - Fetch the best available mortgage rate. Call query_financial_rates with no arguments (returns all rates).\nPick the row where loan_type = 'Mortgage' with the lowest interest_rate.\n\nStep 3 - Apply decision logic:\n\nAPPROVE if ALL of:\n- credit_verdict is STRONG or ACCEPTABLE\n- payment_verdict is STRONG or ACCEPTABLE\n- property_verdict is STRONG or ACCEPTABLE\n- ltv_ratio < 90%\n\nDECLINE if ANY of:\n- credit_verdict is WEAK\n- payment_verdict is HIGH RISK\n- ltv_ratio > 95%\n\nREFER TO UNDERWRITER if anything in between (mixed signals, missing data, borderline LTV, any INSUFFICIENT_DATA verdict).\n\n## Output Format\n\n==============================\nLOAN DECISION BRIEF\n==============================\nCustomer:         [full_name] | ID: [customer_id] | Tier: [loyalty_tier]\nRequested Amount: $[loan_amount] | Rate on File: [interest_rate]%\n\nCREDIT ANALYSIS\n  Credit Score:      [credit_score] ([band])\n  Employment:        [employment_history]\n  Financial History: [financial_history]\n\nPAYMENT HISTORY\n  Payment Reliability: [payment_reliability]\n  Total Debt Exposure: $[total_debt_exposure]\n  Missed Payments:     [missed_payments]\n  DTI Flag:            [dti_flag]\n\nPROPERTY / COLLATERAL\n  Property Value:  $[property_value]\n  LTV Ratio:       [ltv_ratio]% ([ltv_risk])\n  Collateral Risk: [collateral_rating]\n\nDECISION\n  Outcome:         [APPROVE / DECLINE / REFER TO UNDERWRITER]\n  Suggested Rate:  [interest_rate]% ([loan_type], [term]yr)\n  Rationale:       [2-3 sentences citing the verdicts from all three agents]\n  Conditions:      [any conditions, or None]\n==============================\n\nThis decision brief was produced by 4 specialized agents working autonomously - each querying Denodo in real-time. Zero data copies, one trigger.\n\n## Hard Rules\n- Never fabricate data. Every field must come from tool results or prior agent outputs.\n- If any prior agent block is missing, state which data is absent and issue REFER TO UNDERWRITER.\n- Temperature is 0."
            }
          ]
        },
        "options": {
          "temperature": 0
        },
        "tools": {
          "values": [
            {
              "toolType": "mcp",
              "mcpServer": {
                "serverUrl": "http://host.docker.internal:8080/verticals/mcp",
                "headers": {
                  "parameters": [
                    {
                      "name": "Authorization",
                      "value": "Basic YWRtaW46YWRtaW4="
                    },
                    {
                      "name": "Accept",
                      "value": "application/json, text/event-stream"
                    }
                  ]
                }
              },
              "mcpActions": "[\"denodo_verticals_query_financial_rates\"]"
            }
          ]
        }
      },
      "id": "risk-synthesizer",
      "name": "Risk Synthesizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.4,
      "position": [1100, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $risk-synthesizer.output }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Credit Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credit Analyst": {
      "main": [
        [
          {
            "node": "Payment History Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment History Analyst": {
      "main": [
        [
          {
            "node": "Property Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Property Analyst": {
      "main": [
        [
          {
            "node": "Risk Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Synthesizer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "loan-decision"
    },
    {
      "name": "agentic-ai"
    },
    {
      "name": "denodo-mcp"
    }
  ]
}
