workflows/multi-node-with-rag-session-lock-candidate.json
{"name":"Multi tree flow with Denodo AI SDK RAG session lock candidate","nodes":[{"parameters":{"options":{"responseMode":"lastNode","loadPreviousSession":"memory"},"public":true},"id":"7d176a58-5b27-46f2-b8eb-3994153fc806","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1088,1920],"webhookId":"86a54f7d-ac9d-43f7-a3f6-7eeec95b28f6"},{"parameters":{"assignments":{"assignments":[{"id":"72ef6dde-8205-4092-b456-218401f84230","name":"chatInput","type":"string","value":"={{ $json.chatInput || $json.body?.chatInput || $json.text || \"\" }}"},{"id":"17a96a25-64a3-45e6-99c8-65cb1c00938f","name":"sessionId","type":"string","value":"={{ $json.sessionId || $json.sessionID || $json.body?.sessionId || $json.body?.sessionID || $json.metadata?.sessionId || $json.metadata?.sessionID || \"\" }}"}]},"options":{}},"id":"9522a258-4f2e-4759-82e1-92e5d640323b","name":"Extract Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,1920]},{"parameters":{"jsCode":"\nconst raw = $input.first().json.chatInput || '';\nconst txt = raw.toLowerCase().trim();\nconst sessionId = String($input.first().json.sessionId || '').trim();\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.ragSessions || typeof staticData.ragSessions !== 'object') staticData.ragSessions = {};\nconst ragSessions = staticData.ragSessions;\nconst resetRag = /\\b(reset|end|exit|stop)\\s+(rag|conversation|chat|session)\\b/.test(txt) || /\\b(new session|new conversation|reset chat|reset session)\\b/.test(txt);\nif (sessionId && resetRag) {\n  delete ragSessions[sessionId];\n  return [{ json: { flow: 'rag_end', customer_id: null, chatInput: raw, sessionId, rag_locked: false, rag_reset: true } }];\n}\nconst ragLocked = Boolean(sessionId && ragSessions[sessionId]);\nconst custMatch = raw.match(/\\b(\\d{4,6})\\b/);\nconst customer_id = custMatch ? custMatch[1] : null;\nconst hasCustomerId = Boolean(customer_id);\nconst isExistingLoan = /payment|missed|overdue|balance|loan.?status|delinquent|servicing|existing.?loan/.test(txt);\nconst isCompliance = /\\baml\\b|\\bkyc\\b|suspicious|\\bsar\\b|compliance|fraud|risk.?review|regulatory/.test(txt);\nconst isRagDiscovery = !hasCustomerId && /(what .*tables?|which .*tables?|available views?|available tables?|top\\s*\\d+|highest|largest|lowest|smallest|best rates?|loan related|approved loans?|rejected loans?|show .*loans|find .*loans|list .*loans|loan amount|interest rate|what rates?)/.test(txt);\nconst isInvestigation = !hasCustomerId && /find|search|which customers?|who mentioned|show .*cases|complaints? about|transcripts? about|similar complaints?|cases? involving|meeting notes|officer transcripts?|source.?of.?funds|competitor rate|escrow shortage|complaint patterns?|transcript patterns?/.test(txt);\nlet flow = 'new_loan';\nif (ragLocked) {\n  flow = 'rag_discovery';\n} else if (isExistingLoan) {\n  flow = 'existing_loan';\n} else if (isCompliance) {\n  flow = 'compliance';\n} else if (isRagDiscovery) {\n  flow = 'rag_discovery';\n  if (sessionId) ragSessions[sessionId] = true;\n} else if (isInvestigation) {\n  flow = 'investigation';\n}\nreturn [{ json: {\n  flow,\n  customer_id,\n  chatInput: raw,\n  sessionId,\n  rag_locked: flow === 'rag_discovery' && (ragLocked || Boolean(sessionId && ragSessions[sessionId])),\n  rag_session_warning: flow === 'rag_discovery' && !sessionId ? 'No sessionId found; RAG session pinning will not persist.' : ''\n} }];\n"},"id":"0155bd1c-3ef9-46d6-a115-2edc7eb15873","name":"Intent Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,1920]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"new_loan","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"New Loan"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"existing_loan","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Existing Loan"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"compliance","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Compliance"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"investigation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Investigation"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"rag_discovery","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RAG Discovery"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.flow }}","rightValue":"rag_end","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RAG End"}]},"options":{}},"id":"e9dd54b5-2849-4975-b870-3a520ea6a8a9","name":"Flow Router Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-432,1920]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are the Credit Analyst agent in an autonomous loan decision workflow.\nAssess only creditworthiness using Denodo tools.\n\nTask:\n1. Extract customer_id from the input.\n2. Query financial customers by customer_id.\n3. Query financial loans by customer_id.\n4. Query financial underwriting by loan_id from the loan result.\n\nOutput exactly this block:\nCREDIT_ANALYSIS:\n  customer_id:        [value]\n  full_name:          [first_name last_name]\n  credit_score:       [value] ([band])\n  employment_history: [value]\n  financial_history:  [value]\n  loyalty_tier:       [value]\n  income_band:        [value]\n  risk_weighting:     [value]\n  loan_amount:        [value]\n  interest_rate:      [value]\n  credit_verdict:     [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\nNever fabricate data."}},"id":"a3167cc2-972a-40cd-bac2-dd4cce3de2a4","name":"Credit Analyst","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,1536]},{"parameters":{"endpointUrl":"http://host.docker.internal:8080/verticals/mcp","authentication":"headerAuth","options":{"timeout":60000}},"id":"4d5284a6-e036-4312-93d5-56e95ce3545f","name":"MCP Client - Credit","type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[1024,2672],"credentials":{"httpHeaderAuth":{"id":"yh9OmHU48asuRWZP","name":"Header Auth account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"54d09086-d43b-47f4-b8b5-04e903513f4a","name":"chatInput","type":"string","value":"={{ $(\"Intent Router\").item.json.chatInput }}"},{"id":"c00a73bd-d053-4a7b-a074-4fa3a2e5a9af","name":"customer_id","type":"string","value":"={{ $(\"Intent Router\").item.json.customer_id }}"},{"id":"57b2b236-0450-467b-8ba5-5b67b3dab6c2","name":"flow","type":"string","value":"={{ $(\"Intent Router\").item.json.flow }}"},{"id":"f08811ed-7c13-4c83-b5f8-a53e909fd4e9","name":"credit_analysis","type":"string","value":"={{ $json.output }}"},{"id":"1db83134-1351-4621-9f7b-108fe2b426b1","name":"combined","type":"string","value":"={{ $(\"Intent Router\").item.json.chatInput + \"\\n\\n\" + $json.output }}"}]},"options":{}},"id":"6748eec7-7e84-4b94-b3a5-0410f6120ed2","name":"Set Credit Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,1536]},{"parameters":{"promptType":"define","text":"={{ $json.combined }}","options":{"systemMessage":"You are the Payment History Analyst agent in an autonomous loan decision workflow.\nAssess only payment reliability and debt load using Denodo tools.\n\nThe workflow input already includes CREDIT_ANALYSIS.\n\nTask:\n1. Query financial loans by customer_id.\n2. Query financial payments by loan_id.\n\nOutput exactly this block:\nPAYMENT_ANALYSIS:\n  customer_id:          [value]\n  total_loans:          [count]\n  total_debt_exposure:  [sum of loan_amount]\n  active_loans:         [count]\n  missed_payments:      [count or UNKNOWN]\n  payment_reliability:  [Reliable / Minor Concerns / High Risk / INSUFFICIENT_DATA]\n  dti_flag:             [LOW / MEDIUM / HIGH / UNKNOWN]\n  payment_verdict:      [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\nNever fabricate data."}},"id":"eaeb5841-5dcd-43cd-b970-54311b209a3a","name":"Payment History Analyst","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[272,1536]},{"parameters":{"assignments":{"assignments":[{"id":"8ea47d5e-3fe2-40a0-9b01-006375430315","name":"chatInput","type":"string","value":"={{ $json.chatInput }}"},{"id":"c7f9cf73-a583-44a9-b38e-4bd64db373f1","name":"customer_id","type":"string","value":"={{ $json.customer_id }}"},{"id":"1e4b10aa-d3f4-4190-b34c-f3b16ac9af53","name":"flow","type":"string","value":"={{ $json.flow }}"},{"id":"e0d77029-d73b-46f6-bce1-32f2994e8352","name":"credit_analysis","type":"string","value":"={{ $json.credit_analysis }}"},{"id":"029f89ee-931a-4914-87be-f38491862c68","name":"payment_analysis","type":"string","value":"={{ $(\"Payment History Analyst\").item.json.output }}"},{"id":"a4bb2d90-cc9f-4d55-ae1d-9b3f7f4a1245","name":"combined","type":"string","value":"={{ $json.combined + \"\\n\\n\" + $(\"Payment History Analyst\").item.json.output }}"}]},"options":{}},"id":"1da4a6b4-e2c6-41d8-821d-d6dab8cb1337","name":"Set Payment Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,1536]},{"parameters":{"promptType":"define","text":"={{ $json.combined }}","options":{"systemMessage":"You are the Property Analyst agent in an autonomous loan decision workflow.\nAssess only collateral quality using Denodo tools.\n\nThe workflow input already includes CREDIT_ANALYSIS and PAYMENT_ANALYSIS.\n\nTask:\n1. Query financial loans by customer_id.\n2. Query financial properties by property_id.\n3. Calculate LTV = loan_amount / property_value * 100.\n\nOutput exactly this block:\nPROPERTY_ANALYSIS:\n  customer_id:       [value]\n  loan_amount:       [value]\n  property_value:    [value or UNKNOWN]\n  ltv_ratio:         [value or UNKNOWN]\n  ltv_risk:          [LOW / MEDIUM / HIGH / UNKNOWN]\n  collateral_rating: [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n  property_verdict:  [STRONG / ACCEPTABLE / WEAK / INSUFFICIENT_DATA]\n\nNever fabricate data."}},"id":"070064bb-6f55-4cdf-bee7-5b3ee6723a27","name":"Property Analyst","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[720,1536]},{"parameters":{"assignments":{"assignments":[{"id":"34e5ace6-07fd-4597-a66d-4774191d5ad9","name":"chatInput","type":"string","value":"={{ $json.chatInput }}"},{"id":"4960ef84-2a4c-4237-8c5d-bdf78df41309","name":"customer_id","type":"string","value":"={{ $json.customer_id }}"},{"id":"159b27dc-7543-48a3-8a7e-5e2265922a6d","name":"flow","type":"string","value":"={{ $json.flow }}"},{"id":"1229b28b-923f-4302-873a-ec64940e9b0d","name":"credit_analysis","type":"string","value":"={{ $json.credit_analysis }}"},{"id":"65fc4890-45aa-4c10-ae05-adb2fe101eb6","name":"payment_analysis","type":"string","value":"={{ $json.payment_analysis }}"},{"id":"e6d7d0ad-3838-43d1-b1fd-901e1dacccb7","name":"property_analysis","type":"string","value":"={{ $(\"Property Analyst\").item.json.output }}"},{"id":"d49155ae-148c-4668-bb59-a5abe762cd68","name":"combined","type":"string","value":"={{ $json.combined + \"\\n\\n\" + $(\"Property Analyst\").item.json.output }}"}]},"options":{}},"id":"8ed6cc27-73f5-4326-8e18-9cfbc65d154a","name":"Set Property Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1536]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.combined }}","rightValue":"WEAK","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.combined }}","rightValue":"High Risk","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.combined }}","rightValue":"INSUFFICIENT_DATA","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"0ff1a0fb-67a4-4c36-a37b-fe411736cdec","name":"Risk Gate","type":"n8n-nodes-base.if","typeVersion":2,"position":[1152,1536]},{"parameters":{"jsCode":"\nconst combined = $input.first().json.combined || '';\nconst pick = (regex, fallback = 'UNKNOWN') => {\n  const match = combined.match(regex);\n  return match ? match[1].trim() : fallback;\n};\nconst customerId = pick(/customer_id:\\s*([^\\n]+)/i, $json.customer_id ? String($json.customer_id) : 'UNKNOWN');\nconst fullName = pick(/full_name:\\s*([^\\n]+)/i);\nconst loanAmount = pick(/loan_amount:\\s*([^\\n]+)/i);\nconst creditVerdict = pick(/credit_verdict:\\s*([^\\n]+)/i);\nconst paymentVerdict = pick(/payment_verdict:\\s*([^\\n]+)/i);\nconst propertyVerdict = pick(/property_verdict:\\s*([^\\n]+)/i);\nconst ltvRatio = pick(/ltv_ratio:\\s*([^\\n]+)/i);\nconst signals = [];\nif (/WEAK|INSUFFICIENT_DATA/i.test(creditVerdict)) signals.push('credit_verdict: ' + creditVerdict);\nif (/WEAK|INSUFFICIENT_DATA/i.test(paymentVerdict) || /payment_reliability:\\s*High Risk/i.test(combined)) signals.push('payment_verdict: ' + paymentVerdict);\nif (/WEAK|INSUFFICIENT_DATA/i.test(propertyVerdict)) signals.push('property_verdict: ' + propertyVerdict);\nif (/^UNKNOWN$/i.test(ltvRatio) === false && Number.parseFloat(ltvRatio) >= 90) signals.push('ltv_ratio: ' + ltvRatio);\nreturn [{ json: { text: [\n  '==============================',\n  'LOAN APPLICATION - FLAGGED FOR HUMAN REVIEW',\n  '==============================',\n  'Customer:    ' + fullName + ' | ID: ' + customerId,\n  'Loan Amount: $' + loanAmount,\n  '',\n  'RISK SIGNALS DETECTED:',\n  ...(signals.length ? signals.map((s) => '  ' + s) : ['  Manual review required based on risk gate trigger']),\n  '',\n  'AGENT FINDINGS SUMMARY:',\n  '  Credit Verdict:   ' + creditVerdict,\n  '  Payment Verdict:  ' + paymentVerdict,\n  '  Property Verdict: ' + propertyVerdict,\n  '  LTV Ratio:        ' + ltvRatio,\n  '',\n  'ACTION REQUIRED:',\n  '  Manual underwriter review is required before any decision is issued.',\n  '  Do not approve or decline without senior sign-off.',\n  '',\n  'Flagged by: Autonomous Risk Gate - Denodo-powered loan assessment pipeline.',\n  '=============================='\n].join('\\n') } }];\n"},"id":"b1713842-3278-4df3-9d76-6491a39e4358","name":"Flag for Human Review","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,1456]},{"parameters":{"promptType":"define","text":"={{ $json.combined }}","options":{"systemMessage":"You are the Risk Synthesizer, the final decision-maker in an autonomous loan decision workflow.\nRead CREDIT_ANALYSIS, PAYMENT_ANALYSIS, and PROPERTY_ANALYSIS from the workflow input.\nDo not re-query credit, payment, or property data. You may only query mortgage rates.\n\nDecision logic:\n- APPROVE if credit_verdict, payment_verdict, and property_verdict are STRONG or ACCEPTABLE, and ltv_ratio < 90%\n- DECLINE if credit_verdict is WEAK, payment_reliability is High Risk, or ltv_ratio > 95%\n- Otherwise REFER TO UNDERWRITER\n\nProduce a LOAN DECISION BRIEF with the final outcome and suggested rate.\nNever fabricate data. If any prior analysis block is missing, issue REFER TO UNDERWRITER."}},"id":"73d7b4fb-e38e-47f7-8ed7-8360ab95f506","name":"Risk Synthesizer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1376,1600]},{"parameters":{"assignments":{"assignments":[{"id":"609cc5d3-7882-4d5e-9975-b7e5e56f8fa7","name":"text","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"168826a8-4fdf-4c73-abef-e6588d7fdb1f","name":"Return Loan Decision","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1600,1600]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are the Loan Servicing Agent in an autonomous loan workflow.\nAssess the current status and payment standing of an existing loan using Denodo.\n\nOutput exactly this block:\nSERVICING_ANALYSIS:\n  customer_id:         [value]\n  loan_id:             [value]\n  loan_status:         [active / completed / defaulted / approved]\n  outstanding_balance: [value]\n  missed_payments:     [count]\n  last_payment_date:   [date or UNKNOWN]\n  delinquency_flag:    [YES / NO]\n  delinquency_verdict: [CLEAR / MONITOR / ESCALATE]\n\nNever fabricate data."}},"id":"3b40a161-a551-4d54-a8ab-0fa0e1d48e90","name":"Loan Servicing Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,1920]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"delinquency_flag:    YES","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.output }}","rightValue":"ESCALATE","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"77f8f5e4-8797-41f8-9570-7fd344be133c","name":"Delinquency Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[48,1920]},{"parameters":{"jsCode":"\nconst findings = $input.first().json.output || '';\nconst custMatch = findings.match(/customer_id:\\s*(\\d+)/);\nconst loanMatch = findings.match(/loan_id:\\s*(\\d+)/);\nreturn [{ json: { text: [\n  '==============================',\n  'LOAN SERVICING - ESCALATED TO COLLECTIONS',\n  '==============================',\n  'Customer ID: ' + (custMatch ? custMatch[1] : 'UNKNOWN'),\n  'Loan ID:     ' + (loanMatch ? loanMatch[1] : 'UNKNOWN'),\n  'Status:      COLLECTIONS ESCALATED',\n  'Reason:      2+ missed payments or loan in default status.',\n  '',\n  'Servicing Findings:',\n  findings,\n  '',\n  'Next Action: Collections team notified. Customer outreach required within 24 hours.',\n  'Timestamp:   ' + new Date().toISOString(),\n  '=============================='\n].join('\\n') } }];\n"},"id":"e10fb561-1e53-40ea-8229-3296070cf38c","name":"Escalate to Collections","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,1840]},{"parameters":{"jsCode":"\nconst findings = $input.first().json.output || '';\nconst custMatch = findings.match(/customer_id:\\s*(\\d+)/);\nreturn [{ json: { text: [\n  '==============================',\n  'LOAN SERVICING SUMMARY',\n  '==============================',\n  'Customer ID:  ' + (custMatch ? custMatch[1] : 'UNKNOWN'),\n  'Status:       LOAN IN GOOD STANDING',\n  '',\n  findings,\n  '',\n  'No delinquency detected. Loan servicing is current.',\n  'Timestamp: ' + new Date().toISOString(),\n  '=============================='\n].join('\\n') } }];\n"},"id":"58a78162-65d7-4115-a3a8-d004a559b5f8","name":"Loan Status OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,2000]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are the AML/KYC Compliance Agent in an autonomous regulatory workflow.\nAssess a customer for suspicious activity, identity risk, and regulatory flags using Denodo.\n\nTask:\n1. Extract customer_id from the input.\n2. Query financial customers by customer_id to confirm the customer profile and risk context.\n3. Query customer_complaints for that customer_id.\n4. Query officer_transcripts for that customer_id.\n5. Use the complaint and transcript evidence when deciding sar_trigger, sar_reasons, and compliance_verdict.\n\nRules:\n- Preserve the existing output field labels exactly.\n- complaint_flags must be the complaint count or NONE.\n- transcript_flags must be the transcript count or NONE.\n- If complaints or transcripts return no rows, set the corresponding summary to NONE.\n- Do not let the new fields replace sar_trigger or compliance_verdict; use them as supporting evidence.\n\nOutput exactly this block:\nCOMPLIANCE_ANALYSIS:\n  customer_id:          [value]\n  full_name:            [value]\n  identity_verified:    [YES / NO / PARTIAL]\n  sar_trigger:          [YES / NO]\n  sar_reasons:          [value]\n  complaint_flags:      [count or NONE]\n  financial_risk_band:  [LOW / MEDIUM / HIGH]\n  compliance_verdict:   [CLEAR / REVIEW / SAR_REQUIRED]\n  complaint_summary:    [short summary or NONE]\n  transcript_flags:     [count or NONE]\n  transcript_summary:   [short summary or NONE]\n\nNever fabricate data."}},"id":"46f19dc6-4fac-419d-aaf1-eeef09fc4e47","name":"AML/KYC Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,2288]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"sar_trigger:          YES","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.output }}","rightValue":"SAR_REQUIRED","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"id":"3ab94a46-83d7-4122-85de-b75ccd5cdc4e","name":"SAR Trigger Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[48,2288]},{"parameters":{"jsCode":"\nconst findings = $input.first().json.output || '';\nconst custMatch  = findings.match(/customer_id:\\s*(\\d+)/);\nconst nameMatch  = findings.match(/full_name:\\s*([^\\n]+)/);\nconst reasonMatch = findings.match(/sar_reasons:\\s*([^\\n]+)/);\nconst reportId = 'SAR-' + Date.now();\nreturn [{ json: { text: [\n  '==============================',\n  'SUSPICIOUS ACTIVITY REPORT FILED',\n  '==============================',\n  'Report ID:     ' + reportId,\n  'Customer ID:   ' + (custMatch  ? custMatch[1]  : 'UNKNOWN'),\n  'Customer Name: ' + (nameMatch  ? nameMatch[1].trim()  : 'UNKNOWN'),\n  'SAR Reasons:   ' + (reasonMatch ? reasonMatch[1].trim() : 'See findings'),\n  '',\n  'Compliance Findings:',\n  findings,\n  '',\n  'IMPORTANT: Do not alert the customer. Escalated to compliance officer.',\n  'Timestamp: ' + new Date().toISOString(),\n  '=============================='\n].join('\\n') } }];\n"},"id":"8f14a780-7291-4ec9-8ba0-2372225b47ef","name":"File SAR Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,2208]},{"parameters":{"jsCode":"\nconst findings = $input.first().json.output || '';\nconst custMatch = findings.match(/customer_id:\\s*(\\d+)/);\nreturn [{ json: { text: [\n  '==============================',\n  'COMPLIANCE & AML ASSESSMENT - CLEARED',\n  '==============================',\n  'Customer ID: ' + (custMatch ? custMatch[1] : 'UNKNOWN'),\n  'Verdict:     CLEAR - No SAR triggers detected.',\n  '',\n  findings,\n  '',\n  'Customer cleared for continued engagement.',\n  'Regulatory note: Assessment generated autonomously via Denodo unified data layer.',\n  'Timestamp: ' + new Date().toISOString(),\n  '=============================='\n].join('\\n') } }];\n"},"id":"9eca89fe-d896-4d71-bcf6-5d9883226a3e","name":"Compliance Cleared","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,2368]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are the Investigation Search Agent in a signal-led financial discovery workflow.\nYour job is to find customers related to a topic described in complaints or officer transcripts, even when the user did not provide a customer_id.\n\nTask:\n1. Normalize the user's request into a concise semantic search phrase called query_topic.\n2. Detect any narrowing hints from the request:\n   - complaint channel: call, chat, ticket\n   - transcript meeting type: branch_visit, phone, modification\n   - officer name hints\n   - timeframe hints like recent, this year, last month\n3. If an officer name hint exists, query financial_loanofficers first to resolve matching loan_officer_id values.\n4. Run a vector search over customer_complaints using denodo_verticals_run_sql_query with vector_distance(embedding, query_topic).\n5. Run a vector search over officer_transcripts using denodo_verticals_run_sql_query with vector_distance(embedding, query_topic).\n6. Apply structured narrowing in the SQL WHERE clause whenever the prompt gives channel, meeting-type, officer, or timeframe hints.\n\nRules:\n- Do not use LIMIT, TOP, or FETCH in SQL.\n- Keep selected columns narrow.\n- Sort each query by ascending distance.\n- If a vector query times out or errors, retry once with stronger narrowing if hints are available; otherwise return an empty array for that source.\n- Return only the strongest matches you actually considered, sorted by ascending distance.\n- Return plain JSON only, no markdown or commentary.\n\nReturn exactly this JSON object shape:\n{\n  \"query_topic\": \"string\",\n  \"complaint_matches\": [\n    {\n      \"customer_id\": 0,\n      \"complaint_id\": 0,\n      \"complaint_date\": \"date-or-epoch\",\n      \"resolved\": false,\n      \"distance\": 0,\n      \"complaint_text\": \"string\"\n    }\n  ],\n  \"transcript_matches\": [\n    {\n      \"customer_id\": 0,\n      \"transcript_id\": 0,\n      \"loan_officer_id\": 0,\n      \"meeting_date\": \"date-or-epoch\",\n      \"meeting_type\": \"string\",\n      \"distance\": 0,\n      \"transcript_text\": \"string\"\n    }\n  ]\n}"}},"id":"fc7956d5-d293-4370-8b37-34aba3fe439c","name":"Investigation Search Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,2656]},{"parameters":{"jsCode":"\nconst raw = $input.first().json.output || '';\nconst extractJson = (text) => {\n  const start = text.indexOf('{');\n  const end = text.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return null;\n  try {\n    return JSON.parse(text.slice(start, end + 1));\n  } catch {\n    return null;\n  }\n};\nconst parsed = extractJson(raw) || {};\nconst complaintMatches = Array.isArray(parsed.complaint_matches) ? parsed.complaint_matches : [];\nconst transcriptMatches = Array.isArray(parsed.transcript_matches) ? parsed.transcript_matches : [];\nconst toNumber = (value) => {\n  const num = Number.parseFloat(value);\n  return Number.isFinite(num) ? num : null;\n};\nconst toTs = (value) => {\n  if (value === null || value === undefined || value === '') return 0;\n  if (typeof value === 'number' && Number.isFinite(value)) return value;\n  const numeric = Number(value);\n  if (Number.isFinite(numeric)) return numeric;\n  const parsedDate = Date.parse(value);\n  return Number.isFinite(parsedDate) ? parsedDate : 0;\n};\nconst customers = new Map();\nconst ensureCustomer = (customerId) => {\n  const key = String(customerId ?? 'UNKNOWN');\n  if (!customers.has(key)) {\n    customers.set(key, {\n      customer_id: key,\n      complaintCount: 0,\n      transcriptCount: 0,\n      unresolvedComplaintCount: 0,\n      bestComplaintDistance: null,\n      bestTranscriptDistance: null,\n      recentComplaintTs: 0,\n      recentTranscriptTs: 0,\n      complaintEvidence: 'NONE',\n      transcriptEvidence: 'NONE',\n      relatedOfficerIds: []\n    });\n  }\n  return customers.get(key);\n};\nfor (const match of complaintMatches) {\n  const customer = ensureCustomer(match.customer_id);\n  customer.complaintCount += 1;\n  const distance = toNumber(match.distance);\n  if (distance !== null && (customer.bestComplaintDistance === null || distance < customer.bestComplaintDistance)) {\n    customer.bestComplaintDistance = distance;\n    customer.complaintEvidence = match.complaint_text || 'NONE';\n  }\n  const ts = toTs(match.complaint_date);\n  customer.recentComplaintTs = Math.max(customer.recentComplaintTs, ts);\n  if (match.resolved === false || String(match.resolved).toLowerCase() === 'false') {\n    customer.unresolvedComplaintCount += 1;\n  }\n}\nfor (const match of transcriptMatches) {\n  const customer = ensureCustomer(match.customer_id);\n  customer.transcriptCount += 1;\n  const distance = toNumber(match.distance);\n  if (distance !== null && (customer.bestTranscriptDistance === null || distance < customer.bestTranscriptDistance)) {\n    customer.bestTranscriptDistance = distance;\n    customer.transcriptEvidence = match.transcript_text || 'NONE';\n  }\n  const ts = toTs(match.meeting_date);\n  customer.recentTranscriptTs = Math.max(customer.recentTranscriptTs, ts);\n  if (match.loan_officer_id !== undefined && match.loan_officer_id !== null && !customer.relatedOfficerIds.includes(String(match.loan_officer_id))) {\n    customer.relatedOfficerIds.push(String(match.loan_officer_id));\n  }\n}\nconst now = Date.now();\nconst rankedCustomers = [...customers.values()].map((customer) => {\n  let score = 0;\n  if (customer.bestComplaintDistance !== null) score += Math.max(0, 35 - customer.bestComplaintDistance * 20);\n  if (customer.bestTranscriptDistance !== null) score += Math.max(0, 35 - customer.bestTranscriptDistance * 20);\n  if (customer.complaintCount > 0 && customer.transcriptCount > 0) score += 20;\n  score += Math.min(customer.unresolvedComplaintCount, 3) * 4;\n  const mostRecentTs = Math.max(customer.recentComplaintTs, customer.recentTranscriptTs);\n  if (mostRecentTs > 0) {\n    const ageDays = Math.max(0, (now - mostRecentTs) / 86400000);\n    score += Math.max(0, 10 - ageDays / 30);\n  }\n  return {\n    customer_id: customer.customer_id,\n    score: Number(score.toFixed(2)),\n    complaint_count: customer.complaintCount,\n    transcript_count: customer.transcriptCount,\n    unresolved_complaint_count: customer.unresolvedComplaintCount,\n    best_complaint_distance: customer.bestComplaintDistance,\n    best_transcript_distance: customer.bestTranscriptDistance,\n    complaint_evidence: customer.complaintEvidence,\n    transcript_evidence: customer.transcriptEvidence,\n    related_officer_ids: customer.relatedOfficerIds.slice(0, 5)\n  };\n}).sort((a, b) => b.score - a.score || (a.best_complaint_distance ?? 999) - (b.best_complaint_distance ?? 999) || (a.best_transcript_distance ?? 999) - (b.best_transcript_distance ?? 999));\nconst complaintTrimmed = complaintMatches.slice().sort((a, b) => (toNumber(a.distance) ?? 999) - (toNumber(b.distance) ?? 999)).slice(0, 8);\nconst transcriptTrimmed = transcriptMatches.slice().sort((a, b) => (toNumber(a.distance) ?? 999) - (toNumber(b.distance) ?? 999)).slice(0, 8);\nconst shortlist = rankedCustomers.slice(0, 5);\nreturn [{ json: {\n  query_topic: parsed.query_topic || $json.chatInput || 'UNKNOWN',\n  complaint_matches: complaintTrimmed,\n  transcript_matches: transcriptTrimmed,\n  candidate_customer_ids: shortlist.map((item) => item.customer_id),\n  customer_rankings: shortlist,\n  matched_complaints: complaintMatches.length,\n  matched_transcripts: transcriptMatches.length\n} }];\n"},"id":"6190e011-b151-42d6-bbc4-c65f85cac926","name":"Rank Investigation Matches","type":"n8n-nodes-base.code","typeVersion":2,"position":[112,2656]},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json) }}","options":{"systemMessage":"You are the Investigation Enrichment Agent in a signal-led financial discovery workflow.\nYou receive a JSON payload from the workflow containing query_topic, complaint_matches, transcript_matches, candidate_customer_ids, and customer_rankings.\n\nTask:\n1. Read candidate_customer_ids from the input JSON.\n2. If there are no candidate_customer_ids, return a low-confidence no-match result.\n3. Query financial_customers for only those customer IDs.\n4. Query financial_loans for only those customer IDs.\n5. If customer_rankings includes related_officer_ids, query financial_loanofficers for those officer IDs.\n6. Preserve the ranked order from customer_rankings.\n\nOutput exactly this block:\nINVESTIGATION_RESULTS:\n  query_topic:            [value]\n  match_confidence:       [HIGH / MEDIUM / LOW]\n  matched_customers:      [count]\n  matched_complaints:     [count]\n  matched_transcripts:    [count]\n\nCUSTOMER_MATCH:\n  customer_id:            [value]\n  full_name:              [value]\n  risk_weighting:         [value]\n  loyalty_tier:           [value]\n  related_loans:          [loan ids or NONE]\n  related_officers:       [officer names or NONE]\n  complaint_evidence:     [short summary or NONE]\n  transcript_evidence:    [short summary or NONE]\n  why_matched:            [1-line reason]\n\nRepeat CUSTOMER_MATCH for up to 5 ranked customers.\n\nRules:\n- Do not change the ranked customer order.\n- Use the evidence already provided in customer_rankings as the basis for complaint_evidence and transcript_evidence.\n- related_loans should list the customer's loan ids from financial_loans.\n- related_officers should list officer names when officer IDs are available, otherwise NONE.\n- If there are no matches, return matched_customers 0 and explain that no strong semantic matches were found.\n- Never fabricate entities or links."}},"id":"01717ac0-acb3-4669-a9da-3883ae9d4d36","name":"Investigation Enrichment Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[384,2656]},{"parameters":{"assignments":{"assignments":[{"id":"c03ebdbb-9f79-41df-bbd4-8ab488473c5c","name":"text","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"1aad74d8-a4dd-4af5-98d7-35838cc5ad52","name":"Return Investigation Results","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,2656]},{"parameters":{"endpointUrl":"http://host.docker.internal:8080/verticals/mcp","authentication":"headerAuth","options":{"timeout":180000}},"id":"10fb3a9b-e634-4848-9d8b-61ea188e3f4e","name":"MCP Client - Investigation","type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[912,2912],"credentials":{"httpHeaderAuth":{"id":"yh9OmHU48asuRWZP","name":"Header Auth account 2"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o"},"options":{}},"id":"d58d8387-19be-49b5-be3f-85f16f305df6","name":"OpenAI Chat Model - Credit","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1264,2336],"credentials":{"openAiApi":{"id":"Kr0MgsW8AqSKQdic","name":"OpenAiKey"}}},{"parameters":{"endpointUrl":"http://host.docker.internal:8008/mcp","authentication":"headerAuth","options":{"timeout":180000}},"id":"d5c7e592-d788-41e9-ab49-fddc5cb04ae4","name":"MCP Client - AI SDK","type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[912,3280],"credentials":{"httpHeaderAuth":{"id":"yh9OmHU48asuRWZP","name":"Header Auth account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are the Denodo AI SDK RAG agent for this workflow. Pass the user request through the AI SDK MCP tools and let the SDK decide whether this is a metadata question, a data question, or a clarification turn. Follow-up messages in this session stay on the RAG route until the user explicitly resets the conversation. If the SDK needs clarification, return that question directly. If it can answer, return the answer directly. If the workflow passes a rag_session_warning, preserve that warning in a short note before your main reply. Keep the reply concise and grounded. Do not fabricate."}},"id":"47edd3be-933d-4f63-9490-71472296894c","name":"RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,3024]},{"parameters":{"assignments":{"assignments":[{"id":"187d42de-0d78-4f00-a527-36d3652f4c8a","name":"text","type":"string","value":"={{ $(\"Intent Router\").item.json.rag_session_warning ? $(\"Intent Router\").item.json.rag_session_warning + \"\\n\\n\" + $json.output : $json.output }}"}]},"options":{}},"id":"9d29e453-7af3-46fe-8e5c-f8b47a59cb72","name":"Return RAG Results","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,2976]},{"parameters":{"jsCode":"\nconst sessionId=String($input.first().json.sessionId||'').trim();\nreturn [{json:{text:['Ok, I reset RAG.','Session lock and chat memory cleared.'+(sessionId?' Session: '+sessionId:''),'What do you want to know next?'].join('\\n')}}];\n"},"id":"8b6d6964-d791-41e0-afb4-2d68ed6b77ba","name":"End RAG Session","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,3232]},{"parameters":{"assignments":{"assignments":[{"id":"bd8b67e3-57a7-4945-a8a3-4e52760f16eb","name":"text","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"1486d589-facf-4051-ad4f-175bd6a48a41","name":"Return RAG End","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,3232]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"Extract Input\").item.json.sessionId || $(\"When chat message received\").item.json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[448,3440],"id":"43f1e238-05c8-4b9a-9f84-6f86d8a6c391","name":"Simple Memory"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[112,3232],"id":"8e389f14-4bc7-4ab6-bd7b-d14e7772caf4","name":"Clear RAG Memory","alwaysOutputData":true}],"pinData":{},"connections":{"When chat message received":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"Intent Router","type":"main","index":0}]]},"Intent Router":{"main":[[{"node":"Flow Router Switch","type":"main","index":0}]]},"Flow Router Switch":{"main":[[{"node":"Credit Analyst","type":"main","index":0}],[{"node":"Loan Servicing Agent","type":"main","index":0}],[{"node":"AML/KYC Agent","type":"main","index":0}],[{"node":"Investigation Search Agent","type":"main","index":0}],[{"node":"RAG Agent","type":"main","index":0}],[{"node":"Clear RAG Memory","type":"main","index":0}]]},"Credit Analyst":{"main":[[{"node":"Set Credit Context","type":"main","index":0}]]},"OpenAI Chat Model - Credit":{"ai_languageModel":[[{"node":"Credit Analyst","type":"ai_languageModel","index":0},{"node":"Loan Servicing Agent","type":"ai_languageModel","index":0},{"node":"AML/KYC Agent","type":"ai_languageModel","index":0},{"node":"Payment History Analyst","type":"ai_languageModel","index":0},{"node":"Property Analyst","type":"ai_languageModel","index":0},{"node":"Risk Synthesizer","type":"ai_languageModel","index":0},{"node":"Investigation Search Agent","type":"ai_languageModel","index":0},{"node":"Investigation Enrichment Agent","type":"ai_languageModel","index":0},{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"MCP Client - Credit":{"ai_tool":[[{"node":"Credit Analyst","type":"ai_tool","index":0},{"node":"Loan Servicing Agent","type":"ai_tool","index":0},{"node":"AML/KYC Agent","type":"ai_tool","index":0},{"node":"Payment History Analyst","type":"ai_tool","index":0},{"node":"Property Analyst","type":"ai_tool","index":0},{"node":"Risk Synthesizer","type":"ai_tool","index":0}]]},"Set Credit Context":{"main":[[{"node":"Payment History Analyst","type":"main","index":0}]]},"Payment History Analyst":{"main":[[{"node":"Set Payment Context","type":"main","index":0}]]},"Set Payment Context":{"main":[[{"node":"Property Analyst","type":"main","index":0}]]},"Set Property Context":{"main":[[{"node":"Risk Gate","type":"main","index":0}]]},"Risk Gate":{"main":[[{"node":"Flag for Human Review","type":"main","index":0}],[{"node":"Risk Synthesizer","type":"main","index":0}]]},"Risk Synthesizer":{"main":[[{"node":"Return Loan Decision","type":"main","index":0}]]},"Loan Servicing Agent":{"main":[[{"node":"Delinquency Check","type":"main","index":0}]]},"Delinquency Check":{"main":[[{"node":"Escalate to Collections","type":"main","index":0}],[{"node":"Loan Status OK","type":"main","index":0}]]},"AML/KYC Agent":{"main":[[{"node":"SAR Trigger Check","type":"main","index":0}]]},"SAR Trigger Check":{"main":[[{"node":"File SAR Report","type":"main","index":0}],[{"node":"Compliance Cleared","type":"main","index":0}]]},"Investigation Search Agent":{"main":[[{"node":"Rank Investigation Matches","type":"main","index":0}]]},"Rank Investigation Matches":{"main":[[{"node":"Investigation Enrichment Agent","type":"main","index":0}]]},"Investigation Enrichment Agent":{"main":[[{"node":"Return Investigation Results","type":"main","index":0}]]},"MCP Client - Investigation":{"ai_tool":[[{"node":"Investigation Search Agent","type":"ai_tool","index":0},{"node":"Investigation Enrichment Agent","type":"ai_tool","index":0}]]},"MCP Client - AI SDK":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"RAG Agent":{"main":[[{"node":"Return RAG Results","type":"main","index":0}]]},"End RAG Session":{"main":[[{"node":"Return RAG End","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"RAG Agent","type":"ai_memory","index":0},{"node":"When chat message received","type":"ai_memory","index":0},{"node":"Clear RAG Memory","type":"ai_memory","index":0}]]},"Clear RAG Memory":{"main":[[{"node":"End RAG Session","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"9abebf97-5cc4-4a3b-83eb-53fcb46ef678","meta":{"instanceId":"4b247cdb6eedc0b49da9b0ddd265f19d0c2a2839049a74cb18bc66cbc1f07a77"},"id":"axgJg4cpwYIkY6Nk","tags":[{"updatedAt":"2026-03-27T22:22:37.174Z","createdAt":"2026-03-27T22:22:37.174Z","id":"1mS4u2NbGhGJrLbW","name":"multi-flow"},{"updatedAt":"2026-03-27T15:21:44.127Z","createdAt":"2026-03-27T15:21:44.127Z","id":"daQe4IluAqXHeT4N","name":"loan-decision"},{"name":"rag-mcp-v6","id":"kNXMXNXfJ86IILHQ","updatedAt":"2026-04-01T19:41:56.005Z","createdAt":"2026-04-01T19:41:56.005Z"},{"name":"rag-mcp-v5","id":"kjlVS8HfIOKTtZ5E","updatedAt":"2026-04-01T19:34:20.128Z","createdAt":"2026-04-01T19:34:20.128Z"},{"name":"rag-mcp","id":"lAlAKcr2Y3E77rje","updatedAt":"2026-04-01T19:23:53.360Z","createdAt":"2026-04-01T19:23:53.360Z"},{"updatedAt":"2026-03-27T15:21:44.133Z","createdAt":"2026-03-27T15:21:44.133Z","id":"n9OjDJKIJJlHvv44","name":"denodo-mcp"},{"updatedAt":"2026-03-27T15:21:44.131Z","createdAt":"2026-03-27T15:21:44.131Z","id":"sgUZta2wiMDs1fr6","name":"agentic-ai"},{"updatedAt":"2026-04-01T20:21:09.593Z","createdAt":"2026-04-01T20:21:09.593Z","id":"ragsessionlockcand","name":"rag-session-lock-candidate"}]}